doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title #{title}
    body 
        header 
            nav 
                ul.nav_list
                    li.nav_list_element
                        a(href="/") Shop
                    li.nav_list_element 
                        a(href="/admin/add-product") Add Products
        
        main 
            form(action="/admin/add-product", method="post")
                input(type="text", name="title")
                button(type="submit") Submit 
